<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>wolf的博客</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <link rel="icon" type="image/png" href="assets/i/favicon.png">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
        <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
        <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
        <meta name="msapplication-TileColor" content="#0e90d2">
        <link rel="stylesheet" href="assets/css/amazeui.min.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="editor.md/css/editormd.css" />

        <!--style标签中写的是css,是用来解决加载页面时显示中间过程代码的-->
        <style>
[v-cloak]{
    display:none;

}
        </style>
    </head>

    <body id="blog">




        <!-- banner start -->
        <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin" id="app">
            <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}' >
                <ul class="am-slides">
                    <li>
                        <img src="assets/i/b1.jpg">
                        <div class="blog-slider-desc am-slider-desc ">
                            <div class="blog-text-center blog-slider-con">
                                <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                                <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                                </p>
                                <span class="blog-bor">2015/10/9</span>
                                <br><br><br><br><br><br><br>                
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="assets/i/b2.jpg">
                        <div class="am-slider-desc blog-slider-desc">
                            <div class="blog-text-center blog-slider-con">
                                <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                                <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                                </p>
                                <span>2015/10/9</span>                
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="assets/i/b3.jpg">
                        <div class="am-slider-desc blog-slider-desc">
                            <div class="blog-text-center blog-slider-con">
                                <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                                <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                                </p>
                                <span>2015/10/9</span>                
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="assets/i/b2.jpg">
                        <div class="am-slider-desc blog-slider-desc">
                            <div class="blog-text-center blog-slider-con">
                                <span><a href="" class="blog-color">Article &nbsp;</a></span>               
                                <h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>
                                <p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
                                </p>
                                <span>2015/10/9</span>                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- banner end -->

        <!-- content srart -->
        <div class="am-g am-g-fixed blog-fixed">
            <div class="am-u-md-8 am-u-sm-12" v-show="blog.blog_id==null">

                <!--因为博客列表是动态变化的，所以用循环-->
                <article class="am-g blog-entry-article" v-for="blog in blogs" v-cloak>

                    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                        <span><a href="" class="blog-color">{{tag_id2name(blog.tag_id)}} &nbsp;</a></span>
                        <span> @{{author}} &nbsp;</span>
                        <span>{{blog.create_time}}</span>
                        <!--v-on:click是把当前的html关联上一个鼠标点击的事件-->
                        <h1><a v-on:click="edit_blog(blog.blog_id)">{{blog.title}}</a></h1>
                        <button type="button" class="am-btn am-btn-danger am-round" v-on:click="delete_blog(blog.blog_id)">删除博客</button>
                        <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                        </p>
                        <p><a href="" class="blog-continue">continue reading</a></p>
                    </div>
                </article>
            </div>
            <div class="am-u-md-12 am-u-sm-12" v-show="blog.blog_id != null" v-cloak>
                <div class="am-form">
                <div class="am-form-group">
                    <label for="doc-ipt-email-1">博客标题</label>
                    <!--双向绑定v-model把输入框的内容和变量的内容双向绑定，一个改变，另一个也改变-->
                    <input type="text" class="" v-model="blog.title">
                </div>
                </div>


                <article id="blog_view">
                    <textarea>{{blog.content}}</textarea>
                    <!--博客详细内容-->
                    <!--先使用editor.md完成markdown到html的转换-->

                </article>
                <button type="button" class="am-btn am-btn-success am-round" v-on:click="update_blog(blog.blog_id)">发布博客</button>
                <button type="button" class="am-btn am-btn-success am-round" v-on:click="back()">返回</button>

            </div>


            <div class="am-u-md-4 am-u-sm-12 blog-sidebar" v-show="blog.blog_id==null">
                <div class="blog-sidebar-widget blog-bor" v-cloak>
                    <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
                    <img src="assets/i/f14.jpg" alt="about me" class="blog-entry-img" >
                    <!--插值表达式-->
                    <p><h3>{{author}}</h3></p>
                    <p>
                    我是妹子
                    </p><p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
                    <p>
                    <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                    <a href="https://github.com/account/unverified-email"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                    <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                    <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                    <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
                    </p>
                </div>
                <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
                    <h2 class="blog-title"><span>TAG cloud</span></h2>
                    <div class="am-u-sm-12 blog-clear-padding" v-cloak>
                        <a href="" class="blog-tag" v-for="tag in tags">{{tag.tag_name}}</a>

                    </div>
                </div>
                <div class="blog-sidebar-widget blog-bor">
                    <h2 class="blog-title"><span>么么哒</span></h2>
                    <ul class="am-list">
                        <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                        <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                        <li><a href="#">你不懂我，我不怪你。</a></li>
                        <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- content end -->



        <footer class="blog-footer">
            <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h3>个人博客</h3>
                    <p class="am-text-sm">这是一个自己做的简单的个人博客管理界面。<br> <br><br>
                    </p>
                </div>
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h3>社交账号</h3>
                    <p>
                    <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                    <a href="https://github.com/account/unverified-email"><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
                    </p>
                    <h3>Credits</h3>
                    <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
                </div>
                <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                    <h1>我们站在巨人的肩膀上</h1>
                    <h3>Heroes</h3>
                    <p>
                    <ul>
                        <li>jQuery</li>
                        <li>Zepto.js</li>
                        <li>Seajs</li>
                        <li>LESS</li>
                        <li>...</li>
                    </ul>
                    </p>
                </div>
            </div>    
            <div class="blog-text-center">© 2019/12/20---wolf的博客</div>    
        </footer>





        <!--[if (gte IE 9)|!(IE)]><!-->
            <script src="assets/js/jquery.min.js"></script>
            <!--<![endif]-->
            <!--[if lte IE 8 ]>
                <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
                <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
                <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
            <![endif]-->
            <script src="assets/js/amazeui.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

            <script src="editor.md/lib/marked.min.js"></script>
            <script src="editor.md/lib/prettify.min.js"></script>
            <script src="editor.md/lib/raphael.min.js"></script>
            <script src="editor.md/lib/underscore.min.js"></script>
            <script src="editor.md/lib/sequence-diagram.min.js"></script>
            <script src="editor.md/lib/flowchart.min.js"></script>
            <script src="editor.md/lib/jquery.flowchart.min.js"></script>
            <script src="editor.md/editormd.js"></script>
            <script>
                var app = new Vue({
                    el:'#app',//el:表示app这个Vue对象和那个HTML建立联系
                    data:{
                        //date表示所有需要在页面上动态变化的数据
                        //把js中的数据内容和界面上的关联在一起，及数据的绑定过程
                        author:'wolf'
                        blogs:[
                        ],
                            tags:[
                            ],
                            //blog用来保存当前页面上展示的博客详细内容    
                            blog:{
                                blog_id:null,
                                    title:null,
                                    content:null,
                                    create_time:null,
                                    tag_id:null,
                            }
                    },
                    methods:{
                        tag_id2name(tag_id){
                            //用this访问当前的app对象
                            //this.tags就相当于标签数组
                            for(var index in this.tags)
                            {
                                if(this.tags[index].tag_idi == tag_id)
                                {
                                    return this.tags[index].tag_name;
                                }
                            }
                            return "默认分类"
                        },
                            get_blogs(tag_id){
                                var url = '/blog'
                                if(tag_id != null)
                                {
                                    url='/blog/?tag_id='+tag_id;
                                }
                                //核心操作，访问http服务器数据--->ajax-->JQuery
                                $.ajax({
                                    url:url,
                                    type:"get",
                                    context:this,
                                    success:function(data,status){
                                        //date表示响应的body数据
                                        //status表示响应的数据的状态码
                                        //该函数表示HTTP请求执行成功后返回的操作
                                        //更新数据
                                        //context非常重要，如果不设置context而直接使用this.blogs是错误的
                                        //因为此时的this表示的是$这样的jquery对象，而不是vue对象
                                        this.blogs=data;

                                    }
                                })
                            },
                            init()
                        {
                            //1.从服务器上获取tag
                            $.ajax({
                                type:"get",
                                url:"/tag",
                                context:this,
                                success:function(data,status){
                                    this.tags=data;
                                    //2.从服务器上获取博客,最好把get_blogs写到回调内部，因为需要先获取tag信息
                                    //才能继续获取博客列表，否者tag_id和tag_name的映射关系无法
                                    //正确建立
                                    this.get_blogs();
                                }
                            })
                        },
                            //当点击博客标题时调用该函数,获取响应的博客内容
                        get_blog(blog_id){
                            $.ajax({
                                url:'/blog/'+ blog_id,
                                type:"get",
                                context:this,
                                success:function(data,status){
                                    //此时得到的blog.content是markdowm格式的数据
                                    this.blog=data;
                                    //把markdown格式的数据转为html格式的数据，并显示在界面上

                                    testEditormdView = editormd.markdownToHTML("blog_view", {
                                        markdown        : this.blog.content ,//+ "\r\n" + $("#append-test").text(),
                                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                                        //toc             : false,
                                        tocm            : true,    // Using [TOCM]
                                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                                        //gfm             : false,
                                        //tocDropdown     : true,
                                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                                        emoji           : true,
                                        taskList        : true,
                                        tex             : true,  // 默认不解析
                                        flowChart       : true,  // 默认不解析
                                        sequenceDiagram : true,  // 默认不解析

                                    });
                                }
                            })
                        },
                            delete_blog(blog_id){
                                $.ajax({
                                    type:"delete",
                                    url:'/blog'+blog_id,
                                    context:this,
                                    success:function(data,status){
                                        this.get_blogs();
                                        //弹出对话框进行提示
                                        alert("删除成功")；
                                    }
                                })
                            },
                            edit_blog(blog_id){
                                //1.清空之前的博客
                                this.blog={};

                                //2.通过ajax获取到当前点击的博客内容
                                $.ajax({
                                    type:"get",
                                    url:"/blog/"+blog_id,
                                    context:this,
                                    success:function(data,status){
                                        this.blog=data;
                                        //3.根据数据来加载markdown编辑器
                                        testEditor=editormd("blog_view",{
                                            width:"100%",
                                            height:"700px",
                                            syncScrolling:"single",
                                            path:"editor.md/lib/"
                                        });
                                    }
                                })
                            },
                            back(){
                                this.blog={};
                            },
                            update_blog(blog_id){
                                //从编辑器中获取修改后的markdown数据
                                var content=testEditor.getMarkdown();
                                var body={
                                    title:this.blog.title,
                                    content:content,//此处需要得到修改后的内容
                                    tag_id:this.blog.tag_id
                                }
                                $.ajax({
                                    type:"put",
                                    url:"/blog/"+blog_id,
                                    data:JSON.stringify(body),
                                    contentType:'application/json;charset=utf-8',
                                    context:this,
                                    success:function(data,status){
                                        this.get_blogs();
                                        alert("提交成功");
                                    this.back();
                                    }

                                })
                            }
                    },
                });
//初始化获取的操作
app.init();

            </script>
    </body>
</html>
